/* General Settings */
html,
body {
  overflow-x: hidden;
}

:root {
  --primary-color: #fdcc06;
  --secondary-color: #333;
  --third-color: white;
  --text-color: rgb(0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Colors */

.main-color {
  color: var(--primary-color);
}
.second-color {
  color: var(--secondary-color);
}
.third-color {
  color: var(--third-color);
}
.text-color {
  color: var(--text-color);
}

.bg-main {
  background-color: var(--primary-color);
}
.bg-second {
  background-color: var(--secondary-color);
}
.bg-third {
  background-color: var(--third-color);
}

/* Above the fold */

#ATF {
  background-color: var(--secondary-color);
  height: 100vh;
  position: relative;
}

#space {
  padding-top: 38%;
}

@media all and (max-width: 1199px) {
  #space {
    padding-top: 60%;
  }
}

/* Traccia 1  */

#t1 {
  background-color: var(--primary-color);
}

.text1 {
  margin: 100px 0px 50px;
}

/* Traccia 2  */

#t2 {
  background-color: var(--secondary-color);
}

.text2 {
  margin: 100px 0px 50px;
}

#map {
  border: 5px solid var(--primary-color);
  border-radius: 10px;
}

li {
  font-size: 13px;
}

@media all and (max-width: 768px) {
  iframe {
    width: 50px;
    height: 200px;
  }
}

/* Traccia 3 */

#t3 {
  background-color: var(--primary-color);
}

/* Traccia 4  */

#title {
  font-size: clamp(1.5rem, 5vw, 300px);
}

/* Bottone Custom */

.btn-outline-second {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-outline-second:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-outline-second:focus,
.btn-outline-second.focus {
  box-shadow: 0 0 0 0.2rem rgba(51, 51, 51, 0.5);
}

.btn-outline-second.disabled,
.btn-outline-second:disabled {
  color: var(--secondary-color);
  background-color: transparent;
}

.btn-outline-second:not(:disabled):not(.disabled):active,
.btn-outline-second:not(:disabled):not(.disabled).active,
.show > .btn-outline-second.dropdown-toggle {
  color: #fff;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-outline-second:not(:disabled):not(.disabled):active:focus,
.btn-outline-second:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-second.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(51, 51, 51, 0.5);
}
